@charset "UTF-8";

/* Paleta de Cores

    #021373; #46658C; #79A3D9; #F2EEAE; #A68A7B;

*/

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #79A3D9;
    margin: 0px;
}

header{
    background-color: #F2EEAE;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

h1{
    color: #021373;
    text-align: center;
}

h2{
    text-align: center;
    color: #021373;
}

h3{
    text-align: center;
    color: #233e5f;
}

h4{
    color: #233e5f;
}

p{
    text-align: justify;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav{
    background-color: #A68A7B;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.200);
}

nav > a{
    text-decoration: none;
    color: #021373;
    font-weight: bold;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

main{
    background-color: #F2EEAE;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.200);
}

footer{
    background-color: rgb(150, 150, 150);
    color: #021373;
    text-align: center;
    padding: 3px;
    margin: 0px;
    border-radius: 5px;
}

footer > p{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

footer > p > a{
    text-decoration: none;
    color: #021373;
    font-weight: bold;
    margin-right: 2px;
}

footer > p:hover{
    text-decoration: none;
}